body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active{
  background-color: rgba(0, 0, 0, 0.75);
}

/* login form*/

#login{
  /* width: 40%; */
  height: 10rem ;
  margin: 2vh auto;
  display: flex;
}

.field-icon {
  width: 10vh;
  height: 10vh;
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}


.background{
  
  background-image:url(./asset/bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.background::before{
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(194, 145, 145, 0.001);
}

#masuk{
  width: 10rem;
}


#header{
  box-shadow: 0px 0px 8px 1px #333333;
}
.daftar{
  color: white;
  background-color: #007bff;
  border-color: #007bff;
  border: 1px solid transparent;
  border-radius: 0.25vh;
  width: 100%;
  height: 6vh;
}


.daftar:hover{
  background-color:#17a2b8;;
  
}

#logo{
  margin-left: 10px;
  color: white;
  font-size: 25px;
}

/*beranda member*/
.scroll{
  width: 116vh;
  /* height: 10vh; */
}

.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }
/* PROFIL*/

.profil-pengguna{
  text-align: center;
  font-size: larger;
}

.profil{
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  box-shadow: 10px 7px 10px grey;
  width: 95%;
  
}

.kiri{
  
  height: 50vh;
  margin-left: 10vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 40%;
}

.kanan{
  
  height: 50vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 30%;
}

.user{
  width: 40%;
  margin-left: 20vh;
}

.change-password{
  margin-top: 5vh;
  margin-right: 15vh;
  float: right;
}

.update-profil{
  margin-top: 5vh;
  margin-left: 10vh;
  float: left;
}
/* PROFIL*/

/* Keranjang */

.deleteAll{
  
  margin-left:160vh;
  border-radius: 1vh;
}

#logoKeranjang{
  margin: 10vh 10vh 0 0vh;
}



.title{
  /* display: flex; */
  width: 100%;
  /* flex-direction: column; */

}

.search-by{
  float: left;
  height: 9px;

} 
.title-table{
  margin-bottom: 5vh;
  /* margin-left: 65vh; */
  width: 100%;
}
.select{
  padding: 1vh;
  border-radius: 5px;
}
.cari{
  float: left;
  margin-left: 1vh;
}

#delete{
  margin-bottom: 5vh;
  float: right;
}

#bar-cari{
  width: 50vh;
  
  margin-right: 5vh;
}
.obat{
  margin-top: 3vh;
  box-shadow: 0px 7px 5px grey;
}

/* Dashboard Umum */
.title-dashboard-member{
  margin-top: 2vh;
  text-align: center;
}

/* Dashboard Umum */

/* Keranjang Umum */

.modal-body .required:after{
  font-weight: bold;
  color: #e32;
  content: '*';
  display:inline;
}

.required:after{
  font-weight: bold;
  color: #e32;
  content: '*';
  display:inline;
}

#resep{
  float: right;
  margin-right:3vh;
}


/*toogle resep*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*toogle resep*/

/* Keranjang Umum */

/* Admin Pengguna*/


.change-password-admin-text{
  color: black;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;

}

.change-password-admin-text :focus{
  border: none;
  

}

.container-table{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  height: 80%;
  
}

.sunting-data{
  float: left;
  display: flex;
  flex-direction: column;
}
#sunting{
  margin: auto;
}

.aksi{
  padding: 0 1vh 0 3vh;
}

.hapusData{
  float: right;
}

.judul-pengguna{
  float: left;
  width: 50%;
  
}
.tambah-pengguna{
  float: right;
  margin-bottom: 3vh;
}

.acc{
  color: white;
}



/*Obat ADMIN */

.b{
  float: left;
  padding: 2px;
}
.a{
  float: right;
}
.td{
  width: 25%;
}

.pagination{
  
    /* background: blue; */
    position: absolute;
    bottom: 0;
    margin-bottom: 7vh;
    display: flex;
    flex-direction: column;
    

}

.pagination-keranjang{
  
  /* background: blue; */
  /* position: absolute; */
  bottom: 0;
  
  /* margin-bottom: 7vh; */
  display: flex;
  justify-content: center;
  

}

.total{
  
  /* background: blue; */
  position: absolute;
  bottom: 0;
  margin-bottom: 7vh;
  

}